@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');

* {
    color: black;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-image: url(../img/background.png);
    max-width: 1400px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: red;
    padding: 10px;
    border-radius: 10px;
}

#logo-img {
    width: 250px;
}

ul li {
    font-size: 25px;
    display: inline-block;
    margin: 10px;
}

.nav-link {
    color: black;
    text-decoration: none;
    transition: 0.3s;
}

.nav-link:hover {
    transition: 0.3s;
    color: white;
}

#border-btn {
    text-decoration: none;
    color: black;
    border: 2px solid black;
    border-radius: 30px;
    padding: 15px;
    transition: 0.3s;
}

#border-btn:hover {
    transition: 0.3s;
    background-color: black;
    color: white;
}

hr {
    margin-top: 40px;
    margin-bottom: 40px;
    border: 4px solid white;
    border-radius: 30px;
    background-color: white;
}

.main-aside {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main {
    background-color: white;
    width: 1024px;
    height: 660px;
    display: flex;
    flex-direction: row;
}

.banner {
    height: 600px;
}

#banner-img {
    width: 400px;
    height: 600px;
}

article {
    margin-right: 10px;
    text-align: justify;
    margin-left: 30px;
}

.disney {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100px;
    border-radius: 100px;
}


.items {
    display: flex;
    flex-direction: column;
}

.img-aside {
    display: flex;
    border: 5px solid red;
    width: 300px;
    height: 300px;
    margin-left: 20px;
    margin-bottom: 20px;
    transition: transform 0.1s linear;
}

.img-aside:hover {
    transform: scale(1.1);
}

.container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.items-cards {
    border: 5px solid red;
    width: 300px;
    height: 300px;
    transition: transform 0.1s linear;
    margin-bottom: 20px;
}

.items-cards:hover {
    transform: scale(1.1);
}

footer {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.white-p {
    color: white;
}

.background-white {
    background-color: white;
}

.title-movies {
    color: black;
    font-size: 40px;
}

.container-movies {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: scroll;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: red;
    border-radius: 55px;
}


.movie {
    width: 300px;
    height: 420px;
    margin-left: 40px;
}

#movies {
    width: 250px;
    height: 400px;
    transition: transform 0.1s linear;
}

#movies:hover {
    transform: scale(1.1);
}

.blue {
    color: blue;
}

.red {
    color: red;
}

.yellow {
    color: yellow;
}

.black {
    color: black;
}

.green {
    color: green;
}

.purple {
    color: purple;
}

.gray {
    color: gray;
}

.on-page {
    color: white;
}

.find-me {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h1-redes {
    margin-top: -250px;
}

.logo-network {
    margin: 50px;
    width: 250px;
}

.h1-who {
    font-family: 'Goldman', cursive;
}

#border-on-page {
    text-decoration: none;
    color: white;
    background-color: black;
    border: 2px solid black;
    border-radius: 30px;
    padding: 15px;
    transition: 0.3s;
}

@media (max-width: 600px) {
    body {
        background-color: red;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    ul li {
        font-size: 20px;
    }

    .main-aside {
        display: flex;
        flex-direction: column;
    }

    main {
        width: 100%;
        height: 1488px;
        display: flex;
        flex-direction: column;
    }

    .banner {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #banner-img {
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 20px;
    }

    aside {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container {
        margin-top: 5px;
        margin-left: 19px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .title-movies {
        text-align: center;
        font-size: 25px;
    }

    .container-movies {
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-x: scroll;
    }

    .background-white {
        width: 100%;
    }

    #movies {
        margin-left: 5px;
    }

    footer {
        width: 100%;
    }

    .find-me {
        width: 100%;
        height: 900px;
        display: flex;
        flex-direction: column;

        align-items: center;
    }

    .social-network {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .h1-redes {
        margin-top: -250px;
    }

    .logo-network {
        margin: 20px;
        width: 250px;
    }

    .h1-who {
        font-family: 'Goldman', cursive;
    }
}